[alias]
    git = !exec git
    br = branch
    ci = commit -v
    co = checkout
    st = status
    stu = status -u
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lc = log ORIG_HEAD.. --stat --no-merges
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    stpf = "!git push origin `git subtree split --prefix $1 master`:$2 --force"
    undo = reset --hard HEAD^
    cleanup = "!git branch --merged | grep  -v '\\*\\|master' | grep -v '\\*\\|develop' | xargs -n 1 git branch -d"
    please = git push --force-with-lease
[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    verbose = true
[core]
    editor = nvim +startinsert
    pager = less -FRX
[merge]
    tool = vimdiff
    ff = false
[rebase]
    autosquash = true
[sequence]
    editor = nvim
[tag]
    sort = version:refname
[user]
    name = Ludovic Gonthier
    email = gonthier.ludovic@gmail.com
[rerere]
	enabled = true
[maintenance]
	repo = /home/ludovic-gonthier/playground/dotfiles
	repo = /home/ludovic-gonthier/workstation/Mediapart/mediapart
